[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"
tox = "*"
ipython = "*"
flake8 = "*"
mypy = "*"
isort = "*"
pytest-lazy-fixture = "*"

[requires]
python_version = "3.8"
